<div ngClass="main">
  <div ngClass="login">
    <div ngClass="login_top">
      <h2>Change Password</h2>
    </div>
    <div ngClass="login_form">
      <form [formGroup]="change_form" (ngSubmit)="ChangePassword()">
        <label>Enter New Password</label><br>
        <input type="password" formControlName="password" autofocus><br>
        <span *ngIf="!change_form.get('password').valid && change_form.get('password').touched" class="errormsg">Please enter a password<br></span>
        <label>Confirm Password</label><br>
        <input type="password" formControlName="confirm_password"><br>
        <span *ngIf="!change_form.get('confirm_password').valid && change_form.get('confirm_password').touched" class="errormsg">Please enter Confirm password<br></span><br>
        <span *ngIf="change_form.get('password')==change_form.get('confirm_password')" class="errormsg">Not Match Password<br></span><br>
        <button type="submit" [ngClass]="{submit_valid: change_form.valid, submit_invalid: !change_form.valid}" [disabled]="!change_form.valid">Change Password</button>
      </form>
    </div>
  </div>
</div>
